::ng-deep .cdk-overlay-container{
  position: absolute;
  z-index: 1000;
  left: auto;
  right: auto;
  bottom: 0px;
  width: 100% !important;
}

::ng-deep .cdk-overlay-pane{
    pointer-events: auto;
    position: static;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
}
